body{
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
}

.item-input {
    background: #fff;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    color: #333;
    font-size: 1.2em;
    padding: 0 !important;
}

textarea::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="datetime"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="date"]::placeholder,
input[type="month"]::placeholder,
input[type="time"]::placeholder,
input[type="week"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="color"]::placeholder {
    color: #999;
    font-size: 1.2em;
    padding: 0 !important;
}

.select-input {
  padding-left: 0 !important;
}

select {
    font-size: 18px;
    height: 39px;
}

.placeholder-select {
    color: #999 !important;
    font-size: 18px !important;
    padding: 0 !important;
}

.button-bottom {
  position: absolute;
  bottom: 0;
  right: 2.5%;
  width: 95% !important;
  margin-bottom: .8em !important;
  color: #666 !important;
  border-color: #666 !important;
}

.help-text {
  color: #999;
}

.invision-form a.form-link {
    color: #333;
    display: block;
    text-align: center;
}

.cat-images{
	display: inherit;
	width: 100%;
   	height: 25%;
}

.cat-items{
	width: 100vw;
   	height: 93.3vh;
}

.cat-image-div{
	height: 100%;
	width: auto;
}

.cat-border{
	border: 1.5px solid #000;
}

.txt-align{
	text-align: center;
}

#customers {
    font-family: "Trebuchet MS",
    Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 22px;
}

#customers td, #customers th {
    border: 3px solid #ddd;
    padding: 18px;
    text-align: center;
    font-size: 21px;
}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    /*background-color: #4CAF50;*/
}

table {
    border-collapse: collapse;
    border-radius: 5px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 3px #fff; /* this draws the table border  */
}

#customers th h4{
    color: #fff;
}

#customers td {
    color: #fff;
}

.purple-b-border{
    background: #9d27b2;
}

.blue-b-border{
    background: #2296f4;
}

.yellow-b-border{
    background: #fdc006;
}

.orange-b-border{
    background: #fe5722;
}

.red-btm-border{
    border-color: #f00 !important;
}

.green-btm-border{
    border-color: #03b500 !important;
}

.yellow-btm-border{
    border-color: #fdc006 !important;
}

.orange-btm-border{
    border-color: #fe5722 !important;
}

.gradienter{
    background: radial-gradient(#fff , #f2f2f2, #000);
    opacity: 0.77;
}

.full-page-bckg2 {
  min-height: 100%;
  background-image: -webkit-linear-gradient(top, #847986 5%, #000 60%);
  background-image: -o-linear-gradient(top, #847986 5%, #000 60%);
  background-image: linear-gradient(to bottom, #847986 5%, #000 60%);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF96332', endColorstr='#FF000000', GradientType=0);*/
}

.full-page-bckg2:after {
    content: "";
    background-size: cover;
    background-color: #fff;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.opac {
    opacity: 0.3;
}

.classChoose{
    margin-top: 30px;
}

.user-info2 {
    overflow: hidden;
    padding: 20px;
    border-bottom: solid 1px #f4f4f4;
}
    .user-info2 .user-avatar2 {
        border-radius: 50%;
        width: 40%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        margin: 20px 20px 0 30%;
    }
    .user-info2 .user-comment2 {
        padding: 35px 0 0 0;
    }
        .user-info2 .user-comment2 h4 {
            font-size: 1.23077em;
            color: #000;
        }

.book-class{
    border-radius: 100px;
    margin-top: 1em;
}

.central-btn {
    width: 100%;
    text-align: center;
}

.textSize{
    font-size: 17px !important;
}

.login-alignment{
    bottom: 0 !important;
    position: fixed;
    margin-bottom: 0 !important;
    left: 0;
    padding: 1.4em;
}

.places-left{
    font-size: 12px;
    padding: 0;
    margin: 0;
    margin-top: -0.8em;
    text-align: center;
}

.class-name{
    margin:0.7em;
    margin-bottom: 0px;
}

.popup-buttons {
    padding: 1em 0 0;
}

.errorIonic .popup-buttons .button{
    background: #fff;
    color: #e53935;
    border-top: 1px solid #e1e1e1;
    border-radius: 0;
    font-size: 18px;
    font-weight: 600;
}

.successIonic .popup-buttons .button{
    background: #fff;
    color: #43a047;
    border-top: 1px solid #e1e1e1;
    border-radius: 0;
    font-size: 18px;
    font-weight: 600;
}

.successIonic h3{
    color: #000;
}

.errorIonic h3{
    color: #000;
}



.basketIonicRed{
    background: rgba(215, 44, 44, 0);
    color: #f00;
    border: 2px solid #f00;
    border-radius: 50px !important;
    font-size: 18px;
}

.basketIonicGreen{
    background: rgba(215, 44, 44, 0);
    color: #03b500;
    border: 2px solid #03b500;
    border-radius: 50px !important;
    font-size: 18px;
}

.basketIonic h3{
    color: #000;
}

.popup-title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
}

.popup-body {
    padding: 10px;
    overflow: auto;
    font-size: 16px;
}

.popup-container {
    background: rgba(0, 0, 0, 0.08);
}

.popup-container .popup {
    background-color: rgba(255, 255, 255, 0.96);
    border-radius: 2px;
}

.scroll{
    height: 100vh;
}


element.style {
    height: 90px;
    padding-top: 1em;
    position: absolute;
    bottom: 0;
}

.invision-form .list-inset textarea {
    background: rgba(255, 255, 255, 0);
}

.invision-form .list-inset .item-input {
    border-radius: 2px;
    border: 1px solid #e1e1e1;
    background: #fff;
    padding: .2em .5em;
}

.login-alignment-top {
    top: 0 !important;
    position: fixed;
    margin-top: 0 !important;
    left: 0;
    padding: 1.4em;
}

.logo-big2 img {
    margin-top: 2vh;
    margin-bottom: 6vh;
    width: 65vw;
    margin-left: 12vw;
}

.logo-big3 img {
    width: 76%;
    margin-left: 12%;
}

.logo-big4 h1 {
    margin-bottom: 30px !important;
    margin-top: 10px;
    font-size: 1.53846em;
    text-transform: uppercase;
    color: #fff;
}

.bar-top{
    background-color: #3F2A56 !important;
}

.button-border-control{
    border-width: 3px !important;
}

.button-text-control{
    font-size: 19px !important;
}

.message-input{
    color: black !important;
    background-color: #f2f2f2 !important;
    max-height: 130px !important;
    padding-left: 4% !important;
    padding-right: 4% !important;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    margin-left: 1em;
    margin-bottom: 0.6em;
    border-radius: 2em;
}

.button-message{
    background: rgb(4, 115, 224);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 34px;
    padding-left: 16px;
    padding-right: 16px;
}

.bar.item-input-inset .item-input-wrapper input {
    width: 100%;
}

.message-bar .button {
    border-color: transparent;
    color: rgb(0, 176, 173);
    padding-bottom: 0.3em;
}

p.them {
    float: left;
}

.chat p {
    margin: 0 0 0.5em;
    border-radius: 1em;
    padding: 0.5em 1em;
    background: #e5e5ea;
    max-width: 75%;
    clear: both;
    position: relative;
    color: #000;
}

p.me {
    float: right;
    background-color: rgb(0, 176, 173);
    color: white;
}

blockquote {
    margin: 0 auto;
    max-width: 360px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    padding: 0 0px;
}

input.message-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
input.message-input::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
input.message-input:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
input.message-input:-moz-placeholder { /* Firefox 18- */
  color: #000;
}

h2{
    color: white;
}

h3{
    color: white;
}

p{
    color: white;
}

.list > .item > a {
    font-size: 1.15em;
    font-weight: 500;
    text-align: center;
    color: #01b3b6;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 0.5em
}

.button.button-login,
.button-login-alt {
    background: rgba(215, 44, 44, 0);
    color: rgb(0, 176, 173);
    border: 1px solid rgb(0, 176, 173);
    border-radius: 3px;
}

.hp-p{
    font-size: 17px;
    color: #A7A8AA;
}

.hp-h2{
    color: #F2A900;
}

.hp-h3{
    color: #3F2A56;
}

.gs-h3{
    color: #F2A900;
    margin-top: 10px !important;
    margin-bottom: 0 !important;
}

.hp-p{
    font-size: 17px;
    color: #3F2A56;
}

/*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll {
  position: relative;
  overflow: hidden;
}

.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 1366px;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column1 {
  /*width: 33%;*/
  /*padding-left: 40px;*/
}

.column2 {
  width: 13%;
}

.column3 {
  width: 22%;
}

.column4 {
  width: 19%;
}

.column5 {
  width: 13%;
}

.table100-head th {
  padding-top: 13px;
  padding-bottom: 13px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

/*.table100-body {
  max-height: 585px;
  overflow: auto;
}*/

.table100.ver2 .table100-head {
  /*box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);*/
}

.table100.ver2 th {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #fa4251;
  line-height: 1;

  background-color: transparent;
}

.table100.ver2 td {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #003080;
  line-height: 1.2;
}

.table100.ver2 .table100-body tr {
  border-bottom: 1px solid #f2f2f2;
}

/*---------------------------------------------*/

.table100.ver2 {
  border-radius: 3px;
  border: 1px solid #e1e1e1;
  overflow: hidden;
  /*box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);*/
}

.table100.ver2 .ps__rail-y {
  right: 5px;
}

.table100.ver2 .ps__rail-y::before {
  background-color: #ebebeb;
}

.table100.ver2 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}

.card-formatting {
   padding: 10px;
   margin: 10px 10px;
   background: #fff;
   border-radius: 4px;
}

.card-formatting.grey {
   background: rgba(147,128,108,.1);
}

.card-formatting .card-title {
   color: rgb(0, 176, 173);
}

.card-formatting .label {
   display: inline-flex;
   float: right;
   position: absolute;
   bottom: 0;
   right: 0;
}

.card-formatting h2{
   color: rgb(0, 176, 173);
   /* margin-right: 65px; */
   word-spacing: 0px;
   letter-spacing: 0.6px;
}

.card-formatting h2 strong {
   color: rgb(0, 176, 173);
}

.shadow,
.button-shadow {
   box-shadow: 0px 3px 15px rgba(0,0,0,0.2) !important;
}

.bar-whitelabel {
    background-color: rgb(0, 176, 173);
    color: #fff;
}
